<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/dashboard/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myOrders" href="/dashboard/myOrders">
      <ion-icon name="bag-handle-outline"></ion-icon>
      <ion-label>Orders</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/dashboard/settings">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/dashboard/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>