#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}


ion-tab-button ion-label {
  opacity: 0;
  max-height: 0;
  transition: 0.3s ease;
  font-size: 12px;
}
ion-tab-button:hover ion-label,
ion-tab-button.tab-selected ion-label {
  opacity: 1;
  max-height: 20px;
}

ion-icon {
  font-size: 24px;
}